/*

	//////////////////////////////////////////////////////////////////////
	//
	// L8M
	// 
	//
	// Contains color CSS (for screen).
	//
    // Filesource /public/system/css/screen/color.css
	// Version    $Id: color.css 7 2014-03-11 16:18:40Z nm $
	//
	//////////////////////////////////////////////////////////////////////
	
    //////////////////////////////////////////////////////////////////////
    // general
    //////////////////////////////////////////////////////////////////////
*/

body {
	color:#4C4C4C;
	background-color:#0a0a0a !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color:#5e97ca;
}

p {
}

a,
a:active,
a:visited {
    color:#5e97ca;
}
   
a:focus,
a:hover {
	color:#375D7F;
}

em {
	color:#5A9B00;
}
  
span.jEditable {
	color:#6CBC00;
}

form label {
	color:#5e97ca;
}

/*    
    
    ////////////////////////////////////////////////////////////
    //  div#header
    ////////////////////////////////////////////////////////////
    
*/ 

body div#header {
	color:#ffffff;
	background-color:#000000;
}

/*    
    
    ////////////////////////////////////////////////////////////
    //  div#page
    ////////////////////////////////////////////////////////////
    
*/ 



/*    
    
    ////////////////////////////////////////////////////////////
    //  div#footer
    ////////////////////////////////////////////////////////////
    
*/ 

body div#footer {
	color:#FFF;
	background-color:#000;
}

div#footer h1,
div#footer h2,
div#footer h3, 
div#footer h4,
div#footer h5,
div#footer h6,
div#footer p,
div#footer em,
div#footer ul,
div#footer li,
div#footer a,
div#footer a:active,
div#footer a:visited {
    color:#666;
	background-color:transparent;
}
   
div#footer a:focus,
div#footer a:hover {
	color:#808080;
	text-decoration:none;
}

/*

    //////////////////////////////////////////////////////////////////////
    //  span.note
    //////////////////////////////////////////////////////////////////////

*/
    
span.note {
	color:#4C4C4C;
}

/*

    //////////////////////////////////////////////////////////////////////
    //  span.label
    //////////////////////////////////////////////////////////////////////

*/

span.label {
	color:#5A9B00;
}
	
/*    
    
    //////////////////////////////////////////////////////////////////////
    //  ul.iconized
    //////////////////////////////////////////////////////////////////////
    
*/ 	

ul.iconized li {
	color:#333333;
}

ul.iconized li em {
    color:#333333;
}

/*    
    
    //////////////////////////////////////////////////////////////////////
    //  ul.data
    //////////////////////////////////////////////////////////////////////
    
*/  
ul.data li label {
    color:#0059A9;
}

ul.data li.section {
    color:#0059A9;    
}

ul.data li span.description,
p.description {
	color:#7F7F7F;
}	 

/*    
    
    //////////////////////////////////////////////////////////////////////
    //  div.googleMaps
    //////////////////////////////////////////////////////////////////////
    
*/    	

div.google-maps {
	border:1px solid #CCC;
}