/*

    //////////////////////////////////////////////////////////////////////
    //
    // L8M
    //
    //
	// Contains grid CSS (for screen).
 	//
    // Filesource /public/system/css/screen/grid.css
    // Version    $Id: grid.css 7 2014-03-11 16:18:40Z nm $
    //
    //////////////////////////////////////////////////////////////////////

    //////////////////////////////////////////////////////////////////////
    // body
    //////////////////////////////////////////////////////////////////////
    
*/

body {
	background:transparent;
	background-image:url(/img/system/grid/both/20.png);
	background-repeat:repeat;
}

/*

    //////////////////////////////////////////////////////////////////////
    //  div#page
    //////////////////////////////////////////////////////////////////////
    
*/

div#page {
/*	
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	opacity:0.5;
*/	
}