/*

    //////////////////////////////////////////////////////////////////////
    //
    // L8M
    // 
    //
    // Contains typography CSS (for all media types).
    //
    // Filesource  /public/system/css/screen/typography.css
    // Version     $Id: typography.css 20 2014-03-28 11:29:09Z nm $
    //
    //////////////////////////////////////////////////////////////////////

    //////////////////////////////////////////////////////////////////////
    // general
    //////////////////////////////////////////////////////////////////////
*/

body {
	font-family:Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight:normal;
	font-family:Arial,​ sans-serif;
}

input,
textarea {
	font-family:Arial, sans-serif;
}

p {
	text-align:left;
}

em {
	font-style:italic;
}

strong {
	font-weight:bold;
}

code {
	font-family:monospace;
}

/*

    //////////////////////////////////////////////////////////////////////
    //  p.description
    //////////////////////////////////////////////////////////////////////

*/

p.description {
	font-style:italic;
}

/*

    //////////////////////////////////////////////////////////////////////
    //  span.note
    //////////////////////////////////////////////////////////////////////

*/

span.note {
	font-weight:bold;
}

/*

    //////////////////////////////////////////////////////////////////////
    //  span.label
    //////////////////////////////////////////////////////////////////////

*/

span.label {
	font-weight:bold;
}

/*
    
    //////////////////////////////////////////////////////////////////////
    //  ul.error
    //////////////////////////////////////////////////////////////////////
    
*/

ul.error li {
	font-family:"Courier New", Courier, monospace;
}