/*

	//////////////////////////////////////////////////////////////////////
	//
	// L8M
	// 
	//
	// Contains color CSS (for screen).
	//
    // Filesource /public/default/css/screen/color.css
	// Version    $Id: color.css 7 2014-03-11 16:18:40Z nm $
	//
	//////////////////////////////////////////////////////////////////////
	
    //////////////////////////////////////////////////////////////////////
    // general
    //////////////////////////////////////////////////////////////////////
*/

body {
	color:#ffffff;
	background-color:#050505;
}

h1,
h2,
h3,
h4,
h5,
h6 {

}

p {
}

a,
a:active,
a:visited {

}
   
a:focus,
a:hover {
}

em {
	color:#ffffff;
}

/*    
    
    ////////////////////////////////////////////////////////////
    //  div#page
    ////////////////////////////////////////////////////////////
    
*/ 

div#page {
	background-color:transparent;
}

/*    
    
    ////////////////////////////////////////////////////////////
    //  div#footer
    ////////////////////////////////////////////////////////////
    
*/ 

body div#footer {
	color:#ffffff;
	background-color:#050505;
}