/*

    ////////////////////////////////////////////////////////////
    //
    // L8M
    // 
	//
	// Contains form CSS (for screen).
	// 
    // Filesource /public/default/css/screen/form.css
	// Version    $Id: form.css 114 2014-06-17 11:34:06Z sl $
    //
    ////////////////////////////////////////////////////////////

    ////////////////////////////////////////////////////////////
    //  general
    ////////////////////////////////////////////////////////////
    
*/

form label {
	margin-bottom: 5px;
	margin-top: 10px;
}

form div.submit {
	margin-top: 10px;
}