/*

    //////////////////////////////////////////////////////////////////////
    //
    // L8M
    // 
	//
	// Contains IE6 and below CSS (for screen).
	//
    // Filesource /public/default/css/screen/ie6.css
	// Version    $Id: ie6.css 7 2014-03-11 16:18:40Z nm $
    //
    ////////////////////////////////////////////////////////////

    ////////////////////////////////////////////////////////////
    //  general
    ////////////////////////////////////////////////////////////
    
*/

div#zend a {
	filter:alpha(opacity=0);
	-moz-opacity:0.0;
	opacity:0.0;		
}